# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/Magic8Ball/doc/api/
**/xylophone/doc/api/
**/Magic8Ball/ios/Flutter/.last_build_id
**/xylophone/ios/Flutter/.last_build_id
/Magic8Ball/.dart_tool/
/xylophone/.dart_tool/
/Magic8Ball/.flutter-plugins
/xylophone/.flutter-plugins
/Magic8Ball/.flutter-plugins-dependencies
/xylophone/.flutter-plugins-dependencies
/Magic8Ball/.packages
/xylophone/.packages
/Magic8Ball/.pub-cache/
/xylophone/.pub-cache/
/Magic8Ball/.pub/
/xylophone/.pub/
/Magic8Ball/build/
/xylophone/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/Magic8Ball/android/app/debug
/Magic8Ball/android/app/profile
/Magic8Ball/android/app/release
/xylophone/android/app/debug
/xylophone/android/app/profile
/xylophone/android/app/release

